{
  "extends": ["next", "airbnb", "airbnb/hooks"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "no-underscore-dangle": "off"

  },
  "env": {
    "browser": true
  }
}
