.card {
	box-shadow: 0 0.2604166666666667vw 0.5208333333333334vw 0 rgba(0, 0, 0, .2);
	margin: auto;
	text-align: center;
	font-family: arial;
	border-radius: 0.6510416666666667vw
}

.cards {
	margin: 6%;
	transition: all .4s cubic-bezier(.175, .885, 0, 1);
	background-color: #fff;
	border-radius: 0.6510416666666667vw;
	box-shadow: 0 0.8463541666666667vw 1.171875vw -0.5208333333333334vw rgba(0, 0, 0, .1);
	transition: scale(1.05, 1.05)
}

.card__info {
	background-color: #fff;
	border-bottom-left-radius: 0.6510416666666667vw;
	border-bottom-right-radius: 0.6510416666666667vw
}

.card__title {
	text-align: left;
	padding: 0 0 0 0.9765625000000001vw;
	background-color: #fff
}

.card__desc {
	text-align: left;
	padding: 0 0.9765625000000001vw 0 0.9765625000000001vw;
	font-weight: 100;
	/* font-size: 1.1067708333333335vw; */
	background-color: #fff;
	color: #3b3b3b
}

.card_more {
	padding-bottom: 0.6510416666666667vw;
	background-color: transparent;
	height: 2.0833333333333335vw
}