
.bg_img
{
	height: 175px;
    /* width: inherit;  */
    /* width: 330px; */
    background-size: 100% auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.greenTag
{
	background-color: #1bc47d;
    color: #FFFFFF;
    margin: 0px;
    width: 120px;
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 15px;
    position: absolute;
	min-width: 100px;
}