/***FOOTER***/

.footer a:hover,
.footer a:active,
.footer a:visited,
.footer a:focus {
  text-decoration: none;
}

.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00132b;
}

.footerRule {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.level1 {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.level1 .location,
.level1 .email,
.level1 .subscribe {
  padding: 1rem 4rem;
  font-size: 55px;
  color: white;
  display: flex;
  flex-direction: row;
  transition: all 0.5s ease;
}

.level1 .location span:nth-of-type(1),
.level1 .email span:nth-of-type(1),
.level1 .subscribe span:nth-of-type(1) {
  font-size: 25px;
  font-weight: bolder;
  margin-top: 0.75rem;
  margin-bottom: -0.75rem;
}

.level1 .location span:nth-of-type(2),
.level1 .email span:nth-of-type(2),
.level1 .subscribe span:nth-of-type(2) {
  font-size: 15px;
  font-weight: normal;
}

.locationText,
.emailText,
.subscribeText {
  display: flex;
  flex-direction: column;
  margin: 0 0rem;
}

.location:hover,
.subscribe:hover,
.email:hover {
  color: rgb(36, 36, 252);
}

.level2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link {
  padding: 0.5rem 0;
  color: rgb(136, 134, 134);
  width: max-content;
  transition: all 0.5s ease;
}

.link:hover {
  transform: scale(1.25);
  color: white;
  font-weight: bold;
}

.linksContainer {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 1rem 0rem 1rem 12rem;
  width: 65%;
}

.logoContainer {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer img {
  width: 250px;
}

.level3 {
  background-color: #1b242b;
  width: 100%;
  color: rgb(122, 122, 122);
  display: grid;
  grid-template-columns: auto auto;
  padding: 0 9rem;
}

.level3 .copyrightInfo {
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.level3 .socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.footerLevel3Icon {
  font-size: 25px;
  margin: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.footerLevel3Icon:hover {
  background-color: white;
  color: #00132b;
}

@media (max-width: 767px) {
  .level1 {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .level1 .location,
  .level1 .email,
  .level1 .subscribe {
    padding: 0.5rem 0rem;
    font-size: 30px;
  }

  .level1 .location span:nth-of-type(1),
  .level1 .email span:nth-of-type(1),
  .level1 .subscribe span:nth-of-type(1) {
    font-size: 18px;
    font-weight: bolder;
    margin-top: 0rem;
    margin-bottom: -0.5rem;
  }

  .level1 .location span:nth-of-type(2),
  .level1 .email span:nth-of-type(2),
  .level1 .subscribe span:nth-of-type(2) {
    font-size: 12px;
    font-weight: normal;
  }

  .level2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .linksContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1rem 0rem 1rem 5rem;
    width: 100%;
  }

  .logoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logoContainer img {
    margin-top: 2rem;
    width: 250px;
  }

  .level3 {
    background-color: #1b242b;
    width: 100%;
    color: rgb(122, 122, 122);
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 1.5rem;
  }

  .level3 .copyrightInfo {
    font-size: 8px;
    display: flex;
    flex-direction: row;
  }

  .level3 .socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .footerLevel3Icon {
    font-size: 15px;
    margin: 1rem;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }
}

@media (max-width: 1100px) and (min-width: 768px) {
  .footerRule {
    width: 95%;
  }

  .level1 {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .level1 .location,
  .level1 .email,
  .level1 .subscribe {
    padding: 0.5rem 1rem;
    font-size: 30px;
  }

  .level1 .location span:nth-of-type(1),
  .level1 .email span:nth-of-type(1),
  .level1 .subscribe span:nth-of-type(1) {
    font-size: 15px;
    font-weight: bolder;
    margin-top: 0rem;
    margin-bottom: -0.5rem;
  }

  .level1 .location span:nth-of-type(2),
  .level1 .email span:nth-of-type(2),
  .level1 .subscribe span:nth-of-type(2) {
    font-size: 12px;
    font-weight: normal;
  }

  .linksContainer {
    display: grid;
    grid-template-columns: auto 60;
    padding: 1rem 0rem 1rem 6rem;
    width: 65%;
  }

  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
  }

  .logoContainer img {
    width: 225px;
  }

  .level3 {
    background-color: #1b242b;
    width: 100%;
    color: rgb(122, 122, 122);
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 1.5rem;
  }

  .level3 .copyrightInfo {
    font-size: 15px;
    display: flex;
    flex-direction: row;
  }

  .level3 .socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .footerLevel3Icon {
    font-size: 25px;
    margin: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }
}

/***FOOTER***/

.footer a:hover,
.footer a:active,
.footer a:visited,
.footer a:focus {
  text-decoration: none;
}

.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00132b;
}

.footerRule {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.level1 {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.level1 .location,
.level1 .email,
.level1 .subscribe {
  padding: 1rem 4rem;
  font-size: 55px;
  color: white;
  display: flex;
  flex-direction: row;
  transition: all 0.5s ease;
}

.level1 .location span:nth-of-type(1),
.level1 .email span:nth-of-type(1),
.level1 .subscribe span:nth-of-type(1) {
  font-size: 25px;
  font-weight: bolder;
  margin-top: 0.75rem;
  margin-bottom: -0.75rem;
}

.level1 .location span:nth-of-type(2),
.level1 .email span:nth-of-type(2),
.level1 .subscribe span:nth-of-type(2) {
  font-size: 15px;
  font-weight: normal;
}

.locationText,
.emailText,
.subscribeText {
  display: flex;
  flex-direction: column;
  margin: 0 0rem;
}

.location:hover,
.subscribe:hover,
.email:hover {
  color: rgb(36, 36, 252);
}

.level2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link {
  padding: 0.5rem 0;
  color: rgb(136, 134, 134);
  width: max-content;
  transition: all 0.5s ease;
}

.link:hover {
  transform: scale(1.25);
  color: white;
  font-weight: bold;
}

.linksContainer {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 1rem 0rem 1rem 12rem;
  width: 65%;
}

.logoContainer {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer img {
  width: 250px;
}

.level3 {
  background-color: #1b242b;
  width: 100%;
  color: rgb(122, 122, 122);
  display: grid;
  grid-template-columns: auto auto;
  padding: 0 9rem;
}

.level3 .copyrightInfo {
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.level3 .socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.footerLevel3Icon {
  font-size: 25px;
  margin: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.footerLevel3Icon:hover {
  background-color: white;
  color: #00132b;
}

@media (max-width: 767px) {
  .level1 {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .level1 .location,
  .level1 .email,
  .level1 .subscribe {
    padding: 0.5rem 0rem;
    font-size: 30px;
  }

  .level1 .location span:nth-of-type(1),
  .level1 .email span:nth-of-type(1),
  .level1 .subscribe span:nth-of-type(1) {
    font-size: 18px;
    font-weight: bolder;
    margin-top: 0rem;
    margin-bottom: -0.5rem;
  }

  .level1 .location span:nth-of-type(2),
  .level1 .email span:nth-of-type(2),
  .level1 .subscribe span:nth-of-type(2) {
    font-size: 12px;
    font-weight: normal;
  }

  .level2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .linksContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1rem 0rem 1rem 5rem;
    width: 100%;
  }

  .logoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logoContainer img {
    margin-top: 2rem;
    width: 250px;
  }

  .level3 {
    background-color: #1b242b;
    width: 100%;
    color: rgb(122, 122, 122);
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 1.5rem;
  }

  .level3 .copyrightInfo {
    font-size: 8px;
    display: flex;
    flex-direction: row;
  }

  .level3 .socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .footerLevel3Icon {
    font-size: 15px;
    margin: 1rem;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }
}

@media (max-width: 1100px) and (min-width: 768px) {
  .footerRule {
    width: 95%;
  }

  .level1 {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .level1 .location,
  .level1 .email,
  .level1 .subscribe {
    padding: 0.5rem 1rem;
    font-size: 30px;
  }

  .level1 .location span:nth-of-type(1),
  .level1 .email span:nth-of-type(1),
  .level1 .subscribe span:nth-of-type(1) {
    font-size: 15px;
    font-weight: bolder;
    margin-top: 0rem;
    margin-bottom: -0.5rem;
  }

  .level1 .location span:nth-of-type(2),
  .level1 .email span:nth-of-type(2),
  .level1 .subscribe span:nth-of-type(2) {
    font-size: 12px;
    font-weight: normal;
  }

  .linksContainer {
    display: grid;
    grid-template-columns: auto 60;
    padding: 1rem 0rem 1rem 6rem;
    width: 65%;
  }

  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
  }

  .logoContainer img {
    width: 225px;
  }

  .level3 {
    background-color: #1b242b;
    width: 100%;
    color: rgb(122, 122, 122);
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 1.5rem;
  }

  .level3 .copyrightInfo {
    font-size: 15px;
    display: flex;
    flex-direction: row;
  }

  .level3 .socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .footerLevel3Icon {
    font-size: 25px;
    margin: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }
}
