/***Navbar***/
.underLineAnimation {
  display: inline-block;
  position: relative;
  color: lightgray;
}

.underLineAnimation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom left;
  transition: transform 0.2s ease-out;
}

.underLineAnimation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.active {
  color: white;
  font-weight: bold;
}
